::selection {
    background-color: honeydew;
}

:root {
    --primary: rgb(148, 20, 127);
    --accent: lavender;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(
        120deg,
        salmon 0%,
        salmon 50%
        deepskyblue 50%
    );
}

header,footer{
    height:15vh;
    text-align: center;
}

main {
    min-height: 70vh;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 
.card {
    border: 2px dashed black;
    width: 30%;
    margin:2%, 0%;
    padding:1% 2%;
    display: flex;
    flex-direction: column;
    transition: all 1.5s ease;
}
.card:hover, .card:hover h3 {
    box-shadow: 0 0 10px inset chartreuse, 
    0 0 10px deepskyblue;
}

.card > h3 {
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    bottom:30px;
    background-color: var(--primary);
    transition: all 1.5s ease;
}

pre {
    background: linear-gradient(deepskyblue,deeppink);
    padding:2%;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

code {
    user-select:all;
}
@media screen and (max-width:992px){
    .card {
        width:45%;
    }
}

@media screen and (max-width:768px){
    .card {
        width:90%;
    }
}